.amit{
    height: 1000px;
    width: 1000px;
    background-image: url(images/wp2713937.webp);
    background-size: 1000px 1000px;
    position:absolute;
    top: 200px;
    left: 300px;
    background-repeat: no-repeat;
    background-color: blueviolet;
    overflow: scroll;
    background-attachment: fixed;
    border-style: dotted;

}
    
h1{
    color: white;
    text-align: center;

    
}

h2{
    background-color: black;
    color: white;
    text-align: center;
    
}