h1{
    background-color: rgb(45, 43, 39);
    color: white;
    text-align: center;

}


menu{
    background-color: rgb(47, 255, 127);
    
    position:fixed;
    left: 20px;
    left: 200px;
    
    }
a{
    text-decoration: none;
    
}

li{
    display: flex;
    justify-content: space-evenly;
    
    
}